<div class="pane-heading">
    <h2>定位</h2>
    <button id="closeGeoLocateBtn">
        <img src="/svg/iD-sprite/icons/icon-close.svg" class="icon ">
    </button>
</div>
<div class="pane-content">
    <div class="background-background-list-container">
        <div style="display: block">当前位置：<label id="lblLocate"></label></div>
        <div style="display: block">坐标定位：<input type="text" style="width: 180px;height: 20px" id="txtCoord">
            <button id="coordLocBtn" style="margin-left: 3px">确定</button>
        </div>
    </div>
</div>
<!--<script src="/js/locate/locate.js" type="text/javascript"></script>-->
